.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;  
  background-color: burlywood;
}

.box{
  height: 40vw;
  width: 50vh;
  background-color: gray;
  color: white;
  text-align: center;
  padding : 30vh 0px;  
}

.controls label {
  color: olive ;
  font-size: 30px;
}

.output box p{
  display: flex;
  justify-content: center;
}